/*styles entire doc*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*styles body*/
body {
  background-color: #d9dcd6;
}

/* not sure why this isn't coded as just 'header', instead of a class, but can't get CSS to work when I change it */
.header {
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}
/*only one 'h1' used, so removed extra divs*/
h1 {
  display: inline-block;
  font-size: 48px;
}

h1 .seo {
  color: #d9dcd6;
}
/*styles all the navigation and ul/li elements*/
nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}
/*styles classes specified after the period (.) with their corresponding attributes */
.hero {
  height: 800px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

.float-left {
  float: left;
  margin-right: 25px;
}

.float-right {
  float: right;
  margin-left: 25px;
}

.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.benefits {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2589bd;
}
/*combined styling each of these classes, because CSS was the same*/
.benefit-lead,
.benefit-brand,
.benefit-cost {
  margin-bottom: 32px;
  color: #ffffff;
}
/*
.benefit-lead h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-brand h3 {
  margin-bottom: 10px;
  text-align: center;
}

.benefit-cost h3 {
  margin-bottom: 10px;
  text-align: center;
}

All of these classes above are used to style 'h3' elements, so just combined and made a 'h3' style.
*/

h3 {
  margin-bottom: 10px;
  text-align: center;
}

/*
Changed this to all being encompassed with an 'aside' tag.... all had the same properties, so combined into 'aside img' properties below.
.benefit-lead img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-brand img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}

.benefit-cost img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
*/
aside img {
  display: block;
  margin: 10px auto;
  max-width: 150px;
}
/*the next couple classes have the same attributes, but when I combined them under a selector of 'main {}', it didn't work, so leaving them */
.search-engine-optimization {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.online-reputation-management {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.social-media-marketing {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

main .search-engine-optimization img,
main .online-reputation-management img,
main .social-media-marketing img {
  max-height: 200px;
}
/*there has to be an easier way to do the above image max-height attribute, but need to keep classes because the nav uses them
.search-engine-optimization img {
  max-height: 200px;
}

.online-reputation-management img {
  max-height: 200px;
}

.social-media-marketing img {
  max-height: 200px;
}
*/

main h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

/* all these h2s are in new 'main' element, so combined them above, because same attributes.
.search-engine-optimization h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.online-reputation-management h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.social-media-marketing h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
/*removed class (.) because not in a div, just footer now*/
footer {
  padding: 30px;
  clear: both;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

footer h2 {
  font-size: 20px;
}
